include LICENSE
include README.md
include CHANGELOG.md
include CITATION.cff
include landmarkdiff/py.typed
recursive-exclude tests *
recursive-exclude scripts *
recursive-exclude examples *
recursive-exclude docs *
